body {
    background-color: darkgrey;
}

h1 {
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    color: midnightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
   text-align: center;
     }

.options, .horn-options {
    display: flex;
}

.creatures, .horned-creatures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

img {
    width: 300px;
}
